*{
    font-family:"Montserrat", "Century Gothic", "Verdana", sans-serif;
    line-height: 1.4;
}

body {
    background: #38383b url(Bilder/Hintergurnd.jpg ) fixed;
    background-size: cover;
    margin: 0;
    
}
div{
    width:90%;
    margin: 3px auto;
    padding: 1.5% 1.25%;
}

h1{
    margin-top: 0;
}
p{
    margin-bottom: 0;
}
h1 {
    text-align:center;
    text-shadow: 1px 1px 1px #666666;
    margin-bottom: 20px;
}
h3, h2{
    text-align: left;
}
img{
    float: left;
    padding: 0.5%;
}
.paddinlr20{
    padding-left: 20px;
    padding-right: 20px;
}
.Kontakt{
    text-align: left;
}

table, th , td{
    border: 2px solid gray;
    border-collapse: collapse;
}
table{
    width: 48%;
    box-shadow: 1px 1px 2px #666666;
}

@media (min-width: 500px){
    
}
@media (min-width: 1200px){
    div{
        width: 50%;
        margin: 0px auto;
        padding: 1.5% 1.25%;
    }
    img{
        float: left;
        padding: 1.5%;    
    }
}