*{
    font-family:"Montserrat", "Century Gothic", "Verdana", sans-serif;
    line-height: 1.4;
}

body {
    background: #38383b url(Bilder/Hintergurnd.jpg )fixed;
    background-size: cover;
    margin: 0;
    background-position: bottom left; 
	background-repeat: no-repeat; 
	background-size:cover; 
	background-attachment:scroll;
    
}
div{
    width:90%;
    margin: 3px auto;
    padding: 1.5% 1.25%;
}
p{
    margin-bottom: 0;
}
.Text{
    margin-top: 40%;
    padding-top: 14%;
}
h3, h2{
    text-align: center;
}
h3{
    margin-top: 8%;
    text-align: center;
}
.paddinlr20{
    padding-left: 20px;
    padding-right: 20px;
}
.Kontakt{
    text-align: center;
    margin-top: 2%;
}
.insta{
    width: 25%;
    object-fit: cover;
    float: left;
    height: 25%;
    margin-top: 3%;
    margin-left: 8%;
    }
    .email{
    width: 17%;
    object-fit: cover;
    height: 17%;
    margin: 0%;
    float: right;
    margin-top: 3.5%;
    margin-right: 10%;
    
    }
    .telefon{
        width: 16.4%;
        object-fit: cover;
        float: left ;
        height: 16.4%;
        margin: 0%;
        margin-top: 4.2%;
        margin-left: 7.2%;

    }
    hr{
        margin-top: 18%;
        height: 1px;
        border-color: white;
        border-top: white;
        background-color: white;

    }
    nav{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #24252A;
    }

    /*.logo{
        padding-bottom: 0%;
        padding-top: 0%;
        color:rgb(211, 211, 211);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        margin-left: 5%;
        padding-bottom: 15px;
        
    }
    .navlinks{
        display: flex;
        justify-content: space-around;
        width: 30%;
        padding-left: 0%;
    }
    .navlinks li{
        list-style: none;
    }
    .navlinks a{
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
        
    }
    */
@media(min-width:300px){
    .Bild{
        width: 75%;
        object-fit: cover;
        height: 270px;
    }
    img{
        padding: 0.5%;
        margin-left:11.5%;
    }
    .Text{
        margin-left: 4%;
       margin-right: 1.5%;
    }
    .logo{
        padding-bottom: 0%;
        padding-top: 0%;
        color:rgb(211, 211, 211);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        margin-left: 3%;
        right: 0px;
        
    }
    }
@media (min-width: 1700px){
    body {
        background: #38383b url(Bilder/Hintergurnd.jpg )no-repeat top center fixed;
        background-size: cover;
        margin: 0;
        
    }
    div{
        width: 50%;
        margin: 0px auto;
        padding: 1.5% 1.25%;
    }
    img{
        float: left;
        padding: 1.5%; 
        margin: 0%;
        margin-top: 2%;
    }
    .Bild{
            width: 33%;
            object-fit: cover;
            height: 315px;
            padding-top: 0%;
    }
    .Text{
       margin-top: 2%; 
    }
    .Kontakt{
        text-align: left;
        margin-top: 34%;
        margin-left: 44%;
    }
    .email{
        text-align:left;
    }
    .insta{
        width: 11.8%;
        object-fit: cover;
        height: 11.8%;
        margin-top: 0%;
        margin-left: 28.5%;
        }
        .email{
            width: 8%;
            object-fit: cover;
            height: 8%;
            margin-top: 0.3%;
            float: right;
            margin-right: 30.5%;
            margin-bottom: 0%;
            }
            h3{
                margin-top: 2%;
                text-align: center;
            }
            .telefon{
                width: 7.95%;
                object-fit: cover;
                height: 7.95%;
                margin-top: 0.38%;
                margin-left: 1%;

            }
            hr{
                margin-top: 44%;
                height: 1px;
                border-color: white;
                border-top: white;
                background-color: white;
        
            }
            nav{
                margin: 0%;
                padding: 0%;
                box-sizing: border-box;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: #24252A;
                
        
        
            }
            .logo{
                padding-bottom: 0%;
                padding-top: 0%;
                color:rgb(211, 211, 211);
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 20px;
                margin-left: 23.5%;
                margin-top: 15;  
                margin-bottom: 15; 
            }
            h1{
                margin-top: 15;
                margin-bottom: 15;
            }
            .navlinks{
                display: flex;
                justify-content: space-around;
                width: 30%;
                padding-left: 0%;
                position: relative;
            }
            .navlinks li{
                list-style: none;
            }
            .navlinks a{
                color: white;
                text-decoration: none;
                letter-spacing: 1px;
                
            }

}

