*{
    font-family:"Montserrat", "Century Gothic", "Verdana", sans-serif;
    line-height: 1.4;
}

body {
    background: #38383b url(Bilder/Hintergurnd.jpg ) fixed;
    background-size: cover;
    margin: 0;
    
}
div{
    width:90%;
    margin: 3px auto;
    padding: 1.5% 1.25%;
}

h1{
    margin-top: 0;
}
p{
    margin-bottom: 0;
}
h1 {
    text-align:center;
    text-shadow: 1px 1px 1px #666666;
    margin-bottom: 20px;
}
h3, h2{
    text-align: center;
}
.paddinlr20{
    padding-left: 20px;
    padding-right: 20px;
}
.Kontakt{
    text-align: center;
}

table, th , td{
    border: 2px solid gray;
    border-collapse: collapse;
}

@media(min-width:300px){
    .Bild{
        width: 80%;
        object-fit: cover;
        height: 230px;
    }
    img{padding: 0.5%;
        margin-left: 10%;
    }
    .Text{
        margin-left: 1%;
        margin-right: 0%;
    }
    table{
        width: 45%;
        box-shadow: 1px 1px 2px #666666;
        margin: auto;
        
    }

}
@media(min-width:400px){
    .Bild{
        width: 75%;
        object-fit: cover;
        height: 270px;
    }
    img{
        padding: 0.5%;
        margin-left:11.5%;
    }
    .Text{
        margin-left: 4%;
       margin-right: 1.5%;
    }
    table{
        width: 45%;
        box-shadow: 1px 1px 2px #666666;
        margin-left: 10%;
        
    }
}
@media (min-width: 500px){
    .Bild{
        width: 40%;
        object-fit: cover;
        height: 300px;
    }
    img{
        padding: 0.5%;
        margin-left:30%;
        }
        table{
            width: 45%;
            box-shadow: 1px 1px 2px #666666;
            margin-left: 27.5%;
            margin-right: 27.5%;
        }
        .Text{
            margin-left: 12%;
            margin-right: 12%;
        }
    }
@media (min-width: 1700px){
    div{
        width: 50%;
        margin: 0px auto;
        padding: 1.5% 1.25%;
    }
    img{
        float: left;
        padding: 1.5%; 
        margin: 0%;
    }
        .Bild{
            width: 35%;
            object-fit: cover;
            height: 330px;

    }
    h3, h2{
        text-align: left;
    }

    table{
        width: 45%;
        box-shadow: 1px 1px 2px #666666;
    }
    .Kontakt{
        text-align: left;
    }
    table{
        width: 45%;
        box-shadow: 1px 1px 2px #666666;
        margin-right: 50%;
    }
    .email{
        text-align:left;
    }
}

